<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights reserved. Mahmoud Eltoukhy - Student ID: 301171598 - COMP 229 - Assignment 1. </h6>
    </nav>
  </footer>