<!-- Created by Mahmoud Eltoukhy - Student# 301171598 - Created on 2022-Feb-05 Assignemnt 1-COMP 229 -->
<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>