<% include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- About me Page -->
  <h1><%= title %></h1>
  <h3>Welcome to my <%= title %> page!</h3><br>
  <h4> Hello,my name is <b>Mahmoud Eltoukhy</b>. <br>
    I'm  student in Centennial college. I've enrolled in "Software Engineering Technology and Artificial Intelligence" program. 
    I am a registered pharmacist in Canada, but I decided to change my career. I live 
    in Quebec, so I can speak a little bit French, beside English and ,my mother language, Arabic. I'm a father of two little girls Talia nd Alice.
    I believe that the AI is interesting and require a significant amount of logic
     and that's why I chose to study this domain. 

  </h4><br>
  <img src="/Assets/images/me.jpeg">
  
  <% include partials/bottom_nav.ejs %>
  <% include partials/footer.ejs %>