<% include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Assignmen1 - Mahmoud Eltoukhy - 301171598 - 2022-02-06-->
<!-- Projects page -->
  <h1><%= title %></h1>
  <h3>Welcome to my <%= title %> page!</h3>
  <h2> Some of my <b>Projects</b> </h2>
<ol>
  <h6><li> I worked on a project for a realtor.
   I made a website including his listing, contact information, personal info about her and a sitemap. &nbsp;&nbsp;<img src="/Assets/images/Realtor1.jpg"></li></h6>
<h6><li> I worked with my colleagues on an application for covid-19 vaccine registration. It was about the "SRS" 
including all the required diagrams, FR and NFR. &nbsp;&nbsp;<img src="/Assets/images/covid19.png"></i><h6>
<h6><li> Now,I'm working with my colleagues on a parking finder application, it's still in progress. It's for parking spots rental. &nbsp;&nbsp; <img src="/Assets/images/parking.jfif"</li></h6>
</p>
  <% include partials/bottom_nav.ejs %>
  <% include partials/footer.ejs %>